<div class="solution-graphics">
        <svg width="100%" version="1.1" style="height:200px; margin-left: -30px">
          <g class="bargraph">
            <svg x="20%" y="10">
              <g transform="rotate(21)">
                <rect y="0" x="10" class="background" width="35%" height="10" rx="3"></rect>
                <rect y="0" x="10" class="fill" width="0%" height="10" rx="3">
                  <animate id="bargrowth1" attributeType="XML" attributeName="width" values="0;35%;0" begin="0;bargrowth1.end"  dur="3.4s" fill="freeze" />
                  <animate id="barmove1"   attributeType="XML" attributeName="x"    from="0" to="35%" begin="1.7s;barmove1.end+1.7s" dur="1.7s" />
                </rect>
              </g>
            </svg>
            <svg y="30" x="50%" width="100%">
            <g transform="rotate(-21)">
              <rect y="100" x="0%" class="background" width="30%" height="10" rx="3"></rect>
              <rect y="100" x="0%" class="fill" width="30%" height="10" rx="3">
                <animate id="barmove2"   attributeType="XML" attributeName="x"     values="30%;0" begin="0s;barmove2.end+1.7s" dur="1.7s" fill="feeze" />
                <animate id="bargrowth2" attributeType="XML" attributeName="width" values="30%;0%" begin="1.7s;bargrowth2.end+1.7s"  dur="1.7s" />

              </rect>
            </g>
            </svg>
            <svg x="50%">
            <g>
              <rect y="" x="25" class="background" height="70%" width="10" rx="3"></rect>
              <rect y="" x="25" class="fill" height="0" width="10" rx="3">
                <animate id="bargrowth3" attributeType="XML" attributeName="height" values="0;70%;0" begin="0;bargrowth3.end"  dur="3.4s" fill="freeze" />
                <animate id="barmove3"   attributeType="XML" attributeName="y"    from="0%" to="70%" begin="1.7s;barmove3.end+1.7s" dur="1.7s" />
              </rect>
            </g>
            </svg>
            <!--<g transform="translate(10,0)">
              <rect y="80" class="background" x="33%" width="33%" height="10" rx="3"></rect>
              <rect y="80" class="fill" x="33%"  width="0%" height="10" rx="3">
                <animate id="bargrowth4" attributeType="XML" attributeName="width" values="0;33%;0" begin="3.4s;bargrowth4.end+3.4s"  dur="3.4s" fill="freeze" />
                <animate id="barmove4"   attributeType="XML" attributeName="x"    from="33%" to="66%" begin="5.1s;barmove4.end+1.7s" dur="1.7s" />
              </rect>
            </g>-->


            <svg x="20%" y="0" width="50" height="50">
              <circle cx="25" cy="25" r="25" fill="#00599C"></circle>
              <text x="25" y="36" text-anchor="middle" style="font-family: 'Glyphicons Halflings'; fill: #fff; font-size: 20px;">&#57444;</text>
            </svg>
            <g transform="translate(5,0)">
            <svg x="50%" y="0" width="50" height="50">
              <circle cx="25" cy="25" r="25" fill="#546e7a"></circle>
              <text x="25" y="36" text-anchor="middle" style="font-family: 'Glyphicons Halflings'; fill: #fff; font-size: 20px;">&#57698;</text>
            </svg>
            </g>
            <svg x="80%" y="0" width="50" height="50">
              <circle cx="25" cy="25" r="25" fill="#CC292B"></circle>
              <text x="25" y="36" text-anchor="middle" style="font-family: 'Glyphicons Halflings'; fill: #fff; font-size: 20px;">&#57604;</text>
            </svg>

            <svg x="50%" y="100" width="60" height="60">
              <circle cx="30" cy="30" r="25" fill="#FF7F1E">
                <animate id="ball21" attributeType="XML" attributeName="r" values="25;30;25" begin="1.7s; ball21.end+3s" dur="0.4s" />
              </circle>
              <svg width="22px" height="30px" y="15" x="19" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <path d="M1.00246167,0 C0.448817378,0 0,0.447365195 0,0.998153687 L0,29.0018463 C0,29.5531114 0.43945834,30 1.00246167,30 L20.9975383,30 C21.5511826,30 22,29.5526348 22,29.0018463 L22,0.998153687 C22,0.446888627 21.5605417,0 20.9975383,0 L1.00246167,0 Z M5.17647059,2.875 L5.17647059,5.125 L16.8235294,5.125 L16.8235294,2.875 L5.17647059,2.875 Z M1.94117647,10 L1.94117647,18.125 L20.0588235,18.125 L20.0588235,10 L1.94117647,10 Z" fill="#fff"></path>
                </g>
            </svg>
            </svg>
            <!--<svg x="66%" y="53" width="60" height="60">
              <circle cx="30" cy="30" r="25" fill="#00796b">
                <animate id="ball22" attributeType="XML" attributeName="r" values="25;30;25" begin="5.1s; ball22.end+6.4s" dur="0.4s" />
              </circle>
              <text x="30" y="41" text-anchor="middle" style="font-family: 'Glyphicons Halflings'; fill: #fff; font-size: 20px;">&#9729;</text>
            </svg>-->
          </g>
        </svg>
      </div>
