<div class="solution-graphics">
        <svg width="100%" version="1.1">
          <g class="bargraph">
            <svg width="99%">
            <rect y="40" class="background" width="100%" height="10" rx="3"></rect>
            <rect y="40" class="fill" width="90%" height="10" rx="3">
              <animate id="bargrowth" attributeType="XML" attributeName="width" from="0" to="100%" begin="0;bargrowth.end+5s"  dur="5s" fill="freeze" />
              <animate id="barmove"   attributeType="XML" attributeName="x"     from="0" to="100%" begin="5s;barmove.end+5s" dur="5s" />
            </rect>
            </svg>

            <svg x="0%" y="18" width="50" height="50">
              <circle cx="25" cy="25" r="25" fill="#546e7a"></circle>
              <text x="25" y="36" text-anchor="middle" style="font-family: 'Glyphicons Halflings'; fill: #fff; font-size: 20px;">&#57698;</text>
            </svg>

            <svg x="33%" y="13" width="60" height="60">
              <a xlink:href="/solution.html#at_the_meter">
              <circle cx="30" cy="30" r="25" fill="#FF7F1E">
                <animate id="ball1" attributeType="XML" attributeName="r" values="25;30;25" begin="1.7s; ball1.end+4.6s" dur="0.4s" />
              </circle>
              <svg width="22px" height="30px" y="15" x="19" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <path d="M1.00246167,0 C0.448817378,0 0,0.447365195 0,0.998153687 L0,29.0018463 C0,29.5531114 0.43945834,30 1.00246167,30 L20.9975383,30 C21.5511826,30 22,29.5526348 22,29.0018463 L22,0.998153687 C22,0.446888627 21.5605417,0 20.9975383,0 L1.00246167,0 Z M5.17647059,2.875 L5.17647059,5.125 L16.8235294,5.125 L16.8235294,2.875 L5.17647059,2.875 Z M1.94117647,10 L1.94117647,18.125 L20.0588235,18.125 L20.0588235,10 L1.94117647,10 Z" fill="#fff"></path>
                </g>
              </svg>
              </a>
            </svg>
            <svg x="66%" y="13" width="60" height="60">
              <a xlink:href="/solution.html#in_the_air">
              <circle cx="30" cy="30" r="25" fill="#00796b">
                <animate id="ball2" attributeType="XML" attributeName="r" values="25;30;25" begin="3.2s; ball2.end+4.6s" dur="0.4s" />
              </circle>
              <text x="30" y="41" text-anchor="middle" style="font-family: 'Glyphicons Halflings'; fill: #fff; font-size: 20px;">&#9729;</text>
              </a>
            </svg>
            <svg viewBox="0 0 50 50" width="100%" height="50" x="0" y="18" preserveAspectRatio="xMaxYMin meet">
              <circle  cx="25" cy="25" r="25" fill="#00599C"></circle>
              <text x="25" y="36" text-anchor="middle" style="font-family: 'Glyphicons Halflings'; fill: #fff; font-size: 20px;">&#57657;</text>
            </svg>
          </g>
        </svg>
      </div>
