<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sisustus e.r-b. Inredning</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <br>
  {% include style_refs.html %}
  <meta name="google-site-verification" content="dfZdr_nzkxf3H_BWB5YiQsvZo7vXp-b8GVoxQTVrXpw" />

</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-957916-2', 'auto');
  ga('send', 'pageview');

</script>
