.navbar {
    height: 52px;

    font-size: 1.1em;
    background-color: $text-color;
    .navbar-nav>li>a {
        color: white;
        background-color: $text-color;
    }
    .navbar-nav>.active>a {
        color: $erb-color;
                background-color: $text-color;

        font-weight: bold;
    }
    .navbar-nav>li>a:hover {
        color: $erb-color;
        background-color: $text-color;
    }
    .navbar-nav>.active>a:hover {
        color: $erb-color;
        background-color: $text-color;
    }
}
.navbar-landing-top {
    border: none;
}
.navbar-nav>li>.btn {
    padding-top: 1px;
    padding-bottom: 1px;
}

/* Navbar collapsing tweaks for bootstrap */

@media (min-width: 600px) {
    .navbar-collapse.collapse {
        display: block!important;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-nav>li, .navbar-nav {
        float: center !important;
    }

    .navbar-right {
        background-color: $text-color;

        float: right!important;
    }
    .navbar-toggle {
        display: none;
    }
}
@media (max-width: 380px) {
    .navbar-nav>li {
    }

    .navbar-nav {
        border: 1px solid yellow;
    }
    .navbar-toggle {
        margin-top: 19px;
    }
    .navbar-default .navbar-toggle .icon-bar {
    }
}
