.nav {
  float: center;
  line-height: 8.4px;
  a {
    width: 100%;
    color: #ffffff;
    text-decoration: none;
    background: #fffff;
    background-color: #333;
    padding: 8px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 1.4em;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075);
    border-left: 0px solid rgba(0, 0, 0, 0.2);
  }
  a:first-child {
    border-top-left-radius:     3px;
    border-bottom-left-radius:  3px;
  }
  a:last-child {
    border-top-right-radius:    3px;
    border-bottom-right-radius: 3px;
    border-right: 0px solid rgba(0, 0, 0, 0.2);
  }
  a:hover, a.active {
    font-size: 1.4em;
    color: #a2c1e2;
    border-right: 0px solid rgba(0, 0, 0, 0.2);
  }
  a:hover + a,a.active + a {
    border-left: 0;
  }
}

@media only screen and (max-width: 450px) {
  .nav {
    float: none;
    margin-bottom: 0;
    padding: 0;
  }
  .nav a {
    padding: 8px 30px;
  }
}
