<div class="nav">
  {% for p in site.pages  %}
    {% if p.lang == "sv" %}
      <a {% if p.url == page.url %}  class="active"{% endif %} href="{{ p.url }}">
        {{ p.title }}
      </a>
    {% endif %}
      {% endfor %}
      <a href="../index.html">suomeksi</a>
<!--  {% if page.class == 'etusivu' %}
    <a href="/index.html" class="active">Etusivu</a><a href="/fi/palvelut.html">Palvelut</a><a href="/fi/kohteita.html">kohteita</a><a href="/fi/erika.html">Minä</a>
  {% elsif page.class == 'palvelut' %}
    <a href="/index.html">Etusivu</a><a href="/fi/palvelut.html" class="active">Palvelut</a><a href="/fi/kohteita.html">kohteita</a><a href="/fi/erika.html">Minä</a>
  {% elsif page.class == 'kohteita' %}
    <a href="/index.html">Etusivu</a><a href="/fi/palvelut.html">Palvelut</a><a href="/fi/kohteita.html" class="active">kohteita</a><a href="/fi/erika.html">Minä</a>
  {% elsif page.class == 'erika' %}
    <a href="/index.html">Etusivu</a><a href="/fi/palvelut.html">Palvelut</a><a href="/fi/kohteita.html">kohteita</a><a href="/fi/erika.html" class="active">Minä</a>
  {% else %}
    <a href="/index.html">Etusivu</a><a href="/fi/palvelut.html">Palvelut</a><a href="/fi/kohteita.html">kohteita</a><a href="/fi/erika.html">Minä</a>
  {% endif %}  -->
</div>
