<!--

<style type="text/css">
@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}
p.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}g
</style>
<p class="customfont">Hello world!</p>
-->


<header>
      <div align="center">
            <big><big><big><big><font color="#666666" face="Century Schoolbook L">
                                          <table><tr>
                                                      <td valign="top">
                                                            <a href="{{site.url}}/index.html">
                                                                  <img src="{{site.url}}/images/erb.png" align="top">
                                                            </a>
                                                      </td>
                                                </tr>
                                                <tr>
                                                      <td valign="bottom">Sisustus - Inredning</td>
                                                </tr>
                                          </table>
            </font></big></big></big></big>
            <p></p>
      </div>
      {% include fi/nav.html %}

</header>
