<!-- >{% if page.class == 'etusivu' %}
<nav class="navbar navbar-default navbar-fixed-top navbar-landing-top">
  {% else %}
  <nav class="navbar navbar-default navbar-fixed-top">
    {% endif %}
    -->

<nav class="navbar navbar-inverse navbar-center">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#theNavBar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="theNavBar">
      <ul class="nav navbar-nav navbar-center">
        {% for p in site.pages  %}
        {% if p.lang == "fi" %}
        <li {% if p.url == page.url %} class="active"{% endif %}> <a href="{{ p.url }}"> {{ p.title }} </a></li>
        {% endif %}
        {% endfor %}
      <a href="sv/index.html">på svenska</a>
      </ul>
    </div>
  </div>
</nav>
