---
layout: default
---

<style>
#left {
    width: 50%;
    float:left;
    padding: 5px;
}

#right {
    width: 50%;
    float:right;
    padding: 5px;
}

#mid {
  margin-left:auto;
  margin-right:auto;
  width: 65%;
}
</style>

{% include galheader.html %}
<style>
table { 
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}
</style>

<div id=mid>
{% for gallery in site.data.galleries %}
 {% assign loopindex = forloop.index | modulo: 2 %}
 {% if loopindex == 1 %}
    <div id="left">
 {% else %}
    <div id="right">
 {% endif %}
    <h4>{{ gallery.description }}</h4>
       <table style="width:100%">
       <tr>
         <td><a href="{{ gallery.imagefolder }}/{{ gallery.images.first.name }}" data-lightbox="{{ gallery.id }}" title="{{ gallery.inmages.first.text }}">
          <img src="{{ gallery.imagefolder }}/{{ gallery.images.first.thumb }}"></td>
         <tr>
          <td><small>{{gallery.text}}</small></td>
         </tr>
        </a>
       </tr>
       </table>
    {% for image in gallery.images %}
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}"></a>
    {% endfor %}
    </div>
{% endfor %}
</div>

