---
layout: default
---

{% include galheader.html %}

<p>default header for all gallery pages</p>

{% for gallery in site.data.galleries %}
    <h1>{{ gallery.description }}</h1>
    <ol>
        <a href="{{ gallery.imagefolder }}/{{ gallery.images.first.name }}" data-lightbox="{{ gallery.id }}" title="{{ gallery.inmages.first.text }}">
          <img src="{{ gallery.imagefolder }}/{{ gallery.images.first.thumb }}">
        </a>

    {% for image in gallery.images %}
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}"></a>
    {% endfor %}
    </ol>
{% endfor %}

<p>default footer for all gallery pages</p>
