<!doctype html>
<!-- the lang=foo prevents navbar from inserting intems -->
<html class="no-js" lang="foo">

<style>
#left {
    width: 70%;
    float:left;
    padding: 5px;
}

#right {
    width: 30%;
    float:right;
    padding: 5px;
}

#mid {
  margin-left:auto;
  margin-right:auto;
  width: 65%;
}
</style>

{% include head.html %}

<body class="container-fluid {{ page.class }}">
    {% include fi/header_no_nav.html %}
      <div role="main" class="main {{ page.main-class }}">
      <div id=mid>
      {{ content }}
      </div>
  </div>
</body>
</html>
